@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic|PT+Serif+Caption|PT+Serif:700&subset=latin,cyrillic);
/* VARS */
/* GRID */
.row { display: block; position: relative; }
.row:after { content: ""; display: table; clear: both; }
.row.four-in-row > .col:nth-of-type(4n+1), .row.four-in-row > .col-p:nth-of-type(4n+1) { margin-left: 0; clear: both; }

.col, .col-p { display: block; float: left; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin-left: 20px; }
.col:first-of-type, .col-p:first-of-type { margin-left: 0; }

.col-1 { width: 65px; }

.col-2 { width: 150px; }

.col-3 { width: 235px; }

.col-4 { width: 320px; }

.col-5 { width: 405px; }

.col-6 { width: 490px; }

.col-7 { width: 575px; }

.col-8 { width: 660px; }

.col-9 { width: 745px; }

.col-10 { width: 830px; }

.col-11 { width: 915px; }

.prefix-1 { margin-left: 85px !important; }

.prefix-2 { margin-left: 170px !important; }

.prefix-3 { margin-left: 255px !important; }

.prefix-4 { margin-left: 340px !important; }

.prefix-5 { margin-left: 425px !important; }

.prefix-6 { margin-left: 510px !important; }

.prefix-7 { margin-left: 595px !important; }

.prefix-8 { margin-left: 680px !important; }

.prefix-9 { margin-left: 765px !important; }

.prefix-10 { margin-left: 850px !important; }

.prefix-11 { margin-left: 935px !important; }

.col-p { padding-left: 10px; padding-right: 10px; margin-left: 0; }

.col-p-1-4 { width: 25%; }

.col-p-1-3 { width: 33.3333333333%; }

.col-p-2-4, .col-p-1-2 { width: 50%; }

.col-p-2-3 { width: 66.6666666667%; }

.col-p-3-4 { width: 75%; }

/* CLEARFIX */
.clear { clear: both; }

.clearfix:after { content: ""; display: table; clear: both; }

/* MODS */
.rel { position: relative !important; }

.abs { position: absolute !important; }

.inline-block { display: inline-block !important; }

.block { display: block !important; }

.tleft { text-align: left !important; }

.tcenter { text-align: center !important; }

.tright { text-align: right !important; }

.uppercase { text-transform: uppercase !important; }

.hide { display: none !important; }

.transparent { opacity: 0 !important; }

.mtop-5 { margin-top: 5px !important; }

.mtop-10 { margin-top: 10px !important; }

.mtop-15 { margin-top: 15px !important; }

.mtop-20 { margin-top: 20px !important; }

.mtop-25 { margin-top: 25px !important; }

.mtop-30 { margin-top: 30px !important; }

.mtop-35 { margin-top: 35px !important; }

.mtop-40 { margin-top: 40px !important; }

.mtop-45 { margin-top: 45px !important; }

.mtop-50 { margin-top: 50px !important; }

.mtop-60 { margin-top: 60px !important; }

.mtop-70 { margin-top: 70px !important; }

.mtop-80 { margin-top: 80px !important; }

.mtop-90 { margin-top: 90px !important; }

.mtop-100 { margin-top: 100px !important; }

.pleft-20 { padding-left: 20px !important; }

.pright-20 { padding-right: 20px !important; }

.border-box { -webkit-box-sizing: border-box !important; -moz-box-sizing: border-box !important; box-sizing: border-box !important; }

.margin-fix > *:first-child { margin-top: 0 !important; }
.margin-fix > *:last-child { margin-bottom: 0 !important; }

/* INLINE COLUMNS */
ul.inline { padding: 0; margin: 0; }
ul.inline > li { display: inline-block; vertical-align: middle; list-style: none; }
ul.inline > li:first-of-type { margin-left: 0 !important; }
ul.inline.top { vertical-align: top; }
ul.inline.m-5 > li { margin-left: 5px; }
ul.inline.m-10 > li { margin-left: 10px; }
ul.inline.m-15 > li { margin-left: 15px; }
ul.inline.m-20 > li { margin-left: 20px; }
ul.inline.m-25 > li { margin-left: 25px; }
ul.inline.m-30 > li { margin-left: 30px; }
ul.inline.m-35 > li { margin-left: 35px; }
ul.inline.m-40 > li { margin-left: 40px; }
ul.inline.m-45 > li { margin-left: 45px; }
ul.inline.m-50 > li { margin-left: 50px; }

/* CONTAINER */
.container { width: 1000px; margin: 0 auto; }

.content { margin: 50px 0 70px; }
.content.no-margins { margin: 0; }
.content.no-bottom-margin { margin-bottom: 0; }

/* STICKY FOOTER */
.content-wrapper { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; min-height: 100%; min-width: 1020px; padding-bottom: 140px; overflow: hidden; /* hack */ }
.content-wrapper + .footer.b-footer { margin-top: -140px; }
