/* MENU BLOCK */
.kit.center { margin: 0 auto; }

.b-menu.b-menu-lang { text-transform: uppercase; font-size: 11px; line-height: 24px; }
.b-menu.b-menu-lang a { color: #6e5167; border-bottom: 1px solid rgba(153, 153, 153, 0.6); }
.b-menu.b-menu-lang a:hover { border-bottom: 1px solid transparent; }
.b-menu.b-menu-lang a.active { color: #999999; border-bottom: 1px solid transparent; cursor: default; }
.b-menu.b-menu-top { text-transform: uppercase; font-size: 14px; }
.b-menu.b-menu-top a { color: #6e5167; border-bottom: 1px solid transparent; display: inline-block; padding-bottom: 20px; }
.b-menu.b-menu-top a:hover { border-bottom: 1px solid #6e5167; }
.b-menu.b-menu-top a.active { border-bottom: 1px solid #6e5167; }
.b-menu.b-menu-bottom { font-size: 14px; }
.b-menu.b-menu-bottom a { color: #999999; border-bottom: 1px solid rgba(153, 153, 153, 0.6); }
.b-menu.b-menu-bottom a:hover { border-bottom: 1px solid transparent; }

/* LOGO BLOCK */
.b-logo.b-logo-top a { display: inline-block; text-align: center; border-bottom: none; }

/* PHONES BLOCK */
.b-phones.b-phones-top { font-size: 13px; line-height: 24px; }
.b-phones.b-phones-top .gray { color: #999999; }

/* HEADER BLOCK */
.b-header { margin-top: 30px; position: relative; }
.b-header hr { position: absolute; bottom: 0; z-index: -1; display: block; height: 1px; border: 0; border-bottom: 1px solid rgba(153, 153, 153, 0.4); padding: 0; margin: 0; width: 100%; }

.b-footer-copyright { font-size: 14px; }
.b-footer-copyright > p { margin: 0; margin-top: 10px; }
.b-footer-copyright > p:first-of-type { margin-top: 0; }

.b-footer .row { color: #999999; padding: 40px 0; border-top: 1px solid rgba(153, 153, 153, 0.4); }
.b-footer.no-border .row { border-top: none; }

.subheading { font: 22px/40px "PT Serif Caption" Times, "Times New Roman", serif; }
.subheading.line-height-30 { line-height: 30px; }

h1 + .subheading { margin-bottom: 52px; }

.b-about-text p { margin: 30px 0; overflow: hidden; }

.b-roundimg-cell.b-roundimg-cell-small, .b-roundimg-cell.b-roundimg-cell-small { margin-top: 50px; }
.b-roundimg-cell.b-roundimg-cell-small h3, .b-roundimg-cell.b-roundimg-cell-small h3 { margin: 45px 0 35px; }
.b-roundimg-cell.b-roundimg-cell-small .b-roundimg-cell-image a, .b-roundimg-cell.b-roundimg-cell-small .b-roundimg-cell-image a { display: table-row-group; }
.b-roundimg-cell.b-roundimg-cell-small .b-roundimg-cell-image img, .b-roundimg-cell.b-roundimg-cell-small .b-roundimg-cell-image img { width: 150px; height: 150px; border-radius: 75px; }
.b-roundimg-cell.b-roundimg-cell-big .b-roundimg-cell-image, .b-roundimg-cell.b-roundimg-cell-big .b-roundimg-cell-image { display: block; float: left; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin-left: 85px; width: 235px; display: inline-block; vertical-align: top; }
.b-roundimg-cell.b-roundimg-cell-big .b-roundimg-cell-image img, .b-roundimg-cell.b-roundimg-cell-big .b-roundimg-cell-image img { width: 235px; height: 235px; border-radius: 117.5px; }
.b-roundimg-cell.b-roundimg-cell-big .b-roundimg-cell-image.no-prefix, .b-roundimg-cell.b-roundimg-cell-big .b-roundimg-cell-image.no-prefix { margin-left: 0; }
.b-roundimg-cell.b-roundimg-cell-big .b-roundimg-cell-caption, .b-roundimg-cell.b-roundimg-cell-big .b-roundimg-cell-caption { display: block; float: left; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin-left: 20px; width: 575px; padding-left: 20px; vertical-align: top; display: inline-block; }
.b-roundimg-cell.b-roundimg-cell-big .b-roundimg-cell-caption h3, .b-roundimg-cell.b-roundimg-cell-big .b-roundimg-cell-caption h3 { margin-top: 0; }

.team-list { margin-top: -50px; }
.team-list.list-main { margin-top: -40px; }

.b-roundimage-container { list-style: none; padding: 0; margin: 0; }
.b-roundimage-container li:not(:first-of-type) { margin-top: 70px; }

.not-found { margin-top: 100px; color: #6e5167; font: bold 200px/200px "PT Serif", Times, "Times New Roman", serif; position: relative; text-align: center; }
.not-found span { top: 32px; width: 320px; display: inline-block; text-align: right; font-family: "PT Sans", Helvetica, Arial, sans-serif; font-size: 16px; font-weight: normal; position: absolute; }
.not-found span:first-of-type { left: -5px; text-align: right; }
.not-found span:last-of-type { margin-left: 10px; text-align: left; }

.black { color: black; }

.b-section h1 { margin-top: 0; }
.b-section.white-text { color: white; }
.b-section.small { padding: 50px 0; }
.b-section.big { padding: 70px 0px; }
.b-section.b-section-bgc.gray { background-color: #f5f3f0; }
.b-section.b-section-bgc.violet { background-color: #6e5167; }
.b-section.b-section-imaged { background-size: cover !important; background-repeat: no-repeat !important; }
