@charset "UTF-8";
/* PDF LINK */
.b-pdf-link { display: inline-block; color: #d1d1d1; font-weight: bold; background: url("../images/pdf-icon.png") no-repeat 0 0; padding-left: 60px; min-height: 48px; line-height: 24px; }
.b-pdf-link > a { font-weight: normal; }

/* ARROW LINK */
.b-arrow-link { display: inline-block; }
.b-arrow-link.b-arrow-link-violet { color: #6e5167; }
.b-arrow-link.b-arrow-link-violet > a { color: #6e5167; }
.b-arrow-link.b-arrow-link-light-violet { color: #c0b0bc; }
.b-arrow-link.b-arrow-link-light-violet > a { color: #c0b0bc; border-color: rgba(192, 176, 188, 0.2); }
.b-arrow-link.b-arrow-link-light-violet > a:hover { border-color: transparent; }

/* DATE */
.b-date { font: bold 24px/30px "PT Serif", Times, "Times New Roman", serif; color: #d4d4d4; }

/* EVENT LIST */
.b-event-list { padding: 0; margin: 0; list-style: none; }
.b-event-list > li:not(:first-of-type) { margin-top: 30px; }
.b-event-list > li:not(:last-of-type) .event { padding-bottom: 30px; border-bottom: 1px solid #d4d4d4; }

/* WIDGET */
.b-widget.b-widget-facebook { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding: 40px 40px 50px; background: #fff; border: 3px solid #e7e7e7; text-align: center; }

/* SOCIAL ICONS */
.b-social-icons { margin: 0; padding: 0; list-style: none; }
.b-social-icons > li { width: 30px; height: 30px; }
.b-social-icons > li > a { display: block; border: 0; width: 30px; height: 30px; background: url("../images/social-icons.svg") no-repeat 0 0; }
.b-social-icons > li > a.facebook { background-position: 0 0; }
.b-social-icons > li > a.linkedin { background-position: -31px 0; }
.b-social-icons > li > a:hover { opacity: 0.5; }

/* SOCIAL BUTTONS */
.b-social-button { display: inline-block; vertical-align: middle; width: auto; max-width: 90px; height: 22px; margin: 10px 0; }
.b-social-button:first-of-type { margin-right: 10px; }

/* CONTACTS SIGNBOARD */
.b-contacts-signboard { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding: 40px 65px 50px; background: #6e5167; color: #fff; }
.b-contacts-signboard > * { margin: 30px 0; }
.b-contacts-signboard > *:first-child { margin-top: 0; }
.b-contacts-signboard a { color: #fff; border-color: rgba(255, 255, 255, 0.5); }
.b-contacts-signboard a:hover { border-color: transparent; }

/* MAP */
.b-map { position: relative; }
.b-map > .container { display: table; }
.b-map .b-contacts-signboard-w { display: table-cell; vertical-align: bottom; padding-bottom: 120px; }
.b-map .b-contacts-signboard { position: relative; z-index: 5; }
.b-map .map { position: absolute; bottom: 0; width: 100%; }
.b-map .map img { max-width: none; }
.b-map.b-map-height-540 { min-height: 540px; }
.b-map.b-map-height-540 > .container { min-height: 540px; }
.b-map.b-map-height-540 .map { height: 540px; }

/* TAB SWITCHER */
.b-tab-switcher { -webkit-box-sizing: bordeer-box; -moz-box-sizing: bordeer-box; box-sizing: bordeer-box; padding: 40px; margin: 0; list-style: none; font: 18px/28px "PT Serif Caption" Times, "Times New Roman", serif; }
.b-tab-switcher > li { margin-top: 25px; padding-left: 35px; }
.b-tab-switcher > li > a { display: inline-block; border-bottom: transparent; text-indent: -35px; }
.b-tab-switcher > li:first-of-type { margin-top: 0; }
.b-tab-switcher > li.active { color: #fff; }
.b-tab-switcher.b-tab-switcher-violet { background: #6e5167; color: #c0b0bc; }
.b-tab-switcher.b-tab-switcher-violet > li > a { color: inherit; }
.b-tab-switcher.b-tab-switcher-violet > li > a:hover { color: #fff; }

/* TABS */
.b-tabs { overflow: auto; }
.b-tabs .tab-pane { display: none; }
.b-tabs .tab-pane.active { display: block; }

/* SLIDER */
.bx-wrapper { position: relative; margin: 0; padding: 0; }

.b-slider-body { margin: 0; padding: 0; list-style: none; }

.b-slider.b-slider-banner .bx-pager { margin: 60px 0 0 340px; }
.b-slider.b-slider-banner .bx-pager-item { display: inline-block; width: 16px; height: 16px; margin-left: 20px; }
.b-slider.b-slider-banner .bx-pager-item:first-of-type { margin-left: 0; }
.b-slider.b-slider-banner .bx-pager-link { display: block; width: 16px; height: 16px; background: #ebebeb; text-indent: -9999px; -webkit-border-radius: 8px; -moz-border-radius: 8px; -ms-border-radius: 8px; -o-border-radius: 8px; border-radius: 8px; border: 0; }
.b-slider.b-slider-banner .bx-pager-link:hover, .b-slider.b-slider-banner .bx-pager-link.active { background: #6e5167; }

/* QUOTE TEXT */
.b-quote-text { position: relative; margin: 0; padding: 0; }
.b-quote-text:before { position: absolute; top: 0; left: -50px; content: '“'; color: red; font: bold 72px/72px "PT Sans", Helvetica, Arial, sans-serif; color: #d9d9d9; }

/* QUOTE */
