@charset "UTF-8";
html, body { height: 100%; }

body { font: 16px/30px "PT Sans", Helvetica, Arial, sans-serif; min-width: 1280px; color: black; background: #fff; }

a { text-decoration: none; color: #6e5167; border-bottom: 1px solid rgba(110, 81, 103, 0.2); }
a:hover { cursor: pointer; border-color: transparent; }

img { display: block; max-width: 100%; }

ol, ul { padding-left: 1em; }

h1 { font: bold 52px/60px "PT Serif", Times, "Times New Roman", serif; margin-bottom: 52px; }

h2 { font: bold 36px/1.2 "PT Serif", Times, "Times New Roman", serif; margin-bottom: 36px; }

h3 { font: 22px/1.2 "PT Serif Caption" Times, "Times New Roman", serif; margin-bottom: 22px; }

/* MENU BLOCK */
.kit.center { margin: 0 auto; }

.b-menu.b-menu-lang { text-transform: uppercase; font-size: 11px; line-height: 24px; }
.b-menu.b-menu-lang a { color: #6e5167; border-bottom: 1px solid rgba(153, 153, 153, 0.6); }
.b-menu.b-menu-lang a:hover { border-bottom: 1px solid transparent; }
.b-menu.b-menu-lang a.active { color: #999999; border-bottom: 1px solid transparent; cursor: default; }
.b-menu.b-menu-top { text-transform: uppercase; font-size: 14px; }
.b-menu.b-menu-top a { color: #6e5167; border-bottom: 1px solid transparent; display: inline-block; padding-bottom: 20px; }
.b-menu.b-menu-top a:hover { border-bottom: 1px solid #6e5167; }
.b-menu.b-menu-top a.active { border-bottom: 1px solid #6e5167; }
.b-menu.b-menu-bottom { font-size: 14px; }
.b-menu.b-menu-bottom a { color: #999999; border-bottom: 1px solid rgba(153, 153, 153, 0.6); }
.b-menu.b-menu-bottom a:hover { border-bottom: 1px solid transparent; }

/* LOGO BLOCK */
.b-logo.b-logo-top a { display: inline-block; text-align: center; border-bottom: none; }

/* PHONES BLOCK */
.b-phones.b-phones-top { font-size: 13px; line-height: 24px; }
.b-phones.b-phones-top .gray { color: #999999; }

/* HEADER BLOCK */
.b-header { margin-top: 30px; position: relative; }
.b-header hr { position: absolute; bottom: 0; z-index: -1; display: block; height: 1px; border: 0; border-bottom: 1px solid rgba(153, 153, 153, 0.4); padding: 0; margin: 0; width: 100%; }

.b-footer-copyright { font-size: 14px; }
.b-footer-copyright > p { margin: 0; }
.b-footer-copyright > p:first-of-type { margin-top: 0; }

.b-footer .row { color: #999999; padding: 40px 0; border-top: 1px solid rgba(153, 153, 153, 0.4); }
.b-footer.no-border .row { border-top: none; }

.subheading { font: 22px/40px "PT Serif Caption" Times, "Times New Roman", serif; }
.subheading.line-height-30 { line-height: 30px; }

h1 + .subheading { margin-bottom: 52px; }

.b-about-text p { margin: 30px 0; overflow: hidden; }

.b-roundimg-cell.b-roundimg-cell-small, .b-roundimg-cell.b-roundimg-cell-small { margin-top: 50px; }
.b-roundimg-cell.b-roundimg-cell-small h3, .b-roundimg-cell.b-roundimg-cell-small h3 { margin: 45px 0 35px; }
.b-roundimg-cell.b-roundimg-cell-small .b-roundimg-cell-image a, .b-roundimg-cell.b-roundimg-cell-small .b-roundimg-cell-image a { display: table-row-group; }
.b-roundimg-cell.b-roundimg-cell-small .b-roundimg-cell-image img, .b-roundimg-cell.b-roundimg-cell-small .b-roundimg-cell-image img { width: 150px; height: 150px; border-radius: 75px; }
.b-roundimg-cell.b-roundimg-cell-big .b-roundimg-cell-image, .b-roundimg-cell.b-roundimg-cell-big .b-roundimg-cell-image { display: block; float: left; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin-left: 85px; width: 235px; display: inline-block; vertical-align: top; }
.b-roundimg-cell.b-roundimg-cell-big .b-roundimg-cell-image img, .b-roundimg-cell.b-roundimg-cell-big .b-roundimg-cell-image img { width: 235px; height: 235px; border-radius: 117.5px; }
.b-roundimg-cell.b-roundimg-cell-big .b-roundimg-cell-image.no-prefix, .b-roundimg-cell.b-roundimg-cell-big .b-roundimg-cell-image.no-prefix { margin-left: 0; }
.b-roundimg-cell.b-roundimg-cell-big .b-roundimg-cell-caption, .b-roundimg-cell.b-roundimg-cell-big .b-roundimg-cell-caption { display: block; float: left; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin-left: 20px; width: 575px; padding-left: 20px; vertical-align: top; display: inline-block; }
.b-roundimg-cell.b-roundimg-cell-big .b-roundimg-cell-caption h3, .b-roundimg-cell.b-roundimg-cell-big .b-roundimg-cell-caption h3 { margin-top: 0; }

.team-list { margin-top: -50px; }
.team-list.list-main { margin-top: -40px; }

.b-roundimage-container { list-style: none; padding: 0; margin: 0; }
.b-roundimage-container li:not(:first-of-type) { margin-top: 70px; }

.not-found { margin-top: 100px; color: #6e5167; font: bold 200px/200px "PT Serif", Times, "Times New Roman", serif; position: relative; text-align: center; }
.not-found span { top: 32px; width: 320px; display: inline-block; text-align: right; font-family: "PT Sans", Helvetica, Arial, sans-serif; font-size: 16px; font-weight: normal; position: absolute; }
.not-found span:first-of-type { left: -5px; text-align: right; }
.not-found span:last-of-type { margin-left: 10px; text-align: left; }

.black { color: black; }

.b-section h1 { margin-top: 0; }
.b-section.white-text { color: white; }
.b-section.small { padding: 50px 0; }
.b-section.big { padding: 70px 0px; }
.b-section.b-section-bgc.gray { background-color: #f5f3f0; }
.b-section.b-section-bgc.violet { background-color: #6e5167; }
.b-section.b-section-imaged { background-size: cover !important; background-repeat: no-repeat !important; }

/* PDF LINK */
.b-pdf-link { display: inline-block; color: #d1d1d1; font-weight: bold; background: url("../images/pdf-icon.png") no-repeat 0 0; padding-left: 60px; min-height: 48px; line-height: 24px; }
.b-pdf-link > a { font-weight: normal; }

/* ARROW LINK */
.b-arrow-link { display: inline-block; }
.b-arrow-link.b-arrow-link-violet { color: #6e5167; }
.b-arrow-link.b-arrow-link-violet > a { color: #6e5167; }
.b-arrow-link.b-arrow-link-light-violet { color: #c0b0bc; }
.b-arrow-link.b-arrow-link-light-violet > a { color: #c0b0bc; border-color: rgba(192, 176, 188, 0.2); }
.b-arrow-link.b-arrow-link-light-violet > a:hover { border-color: transparent; }

/* DATE */
.b-date { font: bold 24px/30px "PT Serif", Times, "Times New Roman", serif; color: #d4d4d4; }

/* EVENT LIST */
.b-event-list { padding: 0; margin: 0; list-style: none; }
.b-event-list > li:not(:first-of-type) { margin-top: 30px; }
.b-event-list > li:not(:last-of-type) .event { padding-bottom: 30px; border-bottom: 1px solid #d4d4d4; }

/* WIDGET */
.b-widget.b-widget-facebook { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding: 40px 40px 50px; background: #fff; border: 3px solid #e7e7e7; text-align: center; }

/* SOCIAL ICONS */
.b-social-icons { margin: 0; padding: 0; list-style: none; }
.b-social-icons > li { width: 30px; height: 30px; }
.b-social-icons > li > a { display: block; border: 0; width: 30px; height: 30px; background: url("../images/social-icons.svg") no-repeat 0 0; }
.b-social-icons > li > a.facebook { background-position: 0 0; }
.b-social-icons > li > a.linkedin { background-position: -31px 0; }
.b-social-icons > li > a:hover { opacity: 0.5; }

/* SOCIAL BUTTONS */
.b-social-button { display: inline-block; vertical-align: middle; width: auto; max-width: 90px; height: 22px; margin: 10px 0; }
.b-social-button:first-of-type { margin-right: 10px; }

/* CONTACTS SIGNBOARD */
.b-contacts-signboard { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding: 40px 65px 50px; background: #6e5167; color: #fff; }
.b-contacts-signboard > * { margin: 30px 0; }
.b-contacts-signboard > *:first-child { margin-top: 0; }
.b-contacts-signboard a { color: #fff; border-color: rgba(255, 255, 255, 0.5); }
.b-contacts-signboard a:hover { border-color: transparent; }

/* MAP */
.b-map { position: relative; }
.b-map > .container { display: table; }
.b-map .b-contacts-signboard-w { display: table-cell; vertical-align: bottom; padding-bottom: 120px; }
.b-map .b-contacts-signboard { position: relative; z-index: 5; }
.b-map .map { position: absolute; bottom: 0; width: 100%; }
.b-map .map img { max-width: none; }
.b-map.b-map-height-540 { min-height: 540px; }
.b-map.b-map-height-540 > .container { min-height: 540px; }
.b-map.b-map-height-540 .map { height: 540px; }

/* TAB SWITCHER */
.b-tab-switcher { -webkit-box-sizing: bordeer-box; -moz-box-sizing: bordeer-box; box-sizing: bordeer-box; padding: 40px; margin: 0; list-style: none; font: 18px/28px "PT Serif Caption" Times, "Times New Roman", serif; }
.b-tab-switcher > li { margin-top: 25px; padding-left: 35px; }
.b-tab-switcher > li > a { display: inline-block; border-bottom: transparent; text-indent: -35px; }
.b-tab-switcher > li:first-of-type { margin-top: 0; }
.b-tab-switcher > li.active { color: #fff; }
.b-tab-switcher.b-tab-switcher-violet { background: #6e5167; color: #c0b0bc; }
.b-tab-switcher.b-tab-switcher-violet > li > a { color: inherit; }
.b-tab-switcher.b-tab-switcher-violet > li > a:hover { color: #fff; }

/* TABS */
.b-tabs { overflow: auto; }
.b-tabs .tab-pane { display: none; }
.b-tabs .tab-pane.active { display: block; }

/* SLIDER */
.bx-wrapper { position: relative; margin: 0; padding: 0; }

.b-slider-body { margin: 0; padding: 0; list-style: none; }

.b-slider.b-slider-banner .bx-pager { margin: 60px 0 0 340px; }
.b-slider.b-slider-banner .bx-pager-item { display: inline-block; width: 16px; height: 16px; margin-left: 20px; }
.b-slider.b-slider-banner .bx-pager-item:first-of-type { margin-left: 0; }
.b-slider.b-slider-banner .bx-pager-link { display: block; width: 16px; height: 16px; background: #ebebeb; text-indent: -9999px; -webkit-border-radius: 8px; -moz-border-radius: 8px; -ms-border-radius: 8px; -o-border-radius: 8px; border-radius: 8px; border: 0; }
.b-slider.b-slider-banner .bx-pager-link:hover, .b-slider.b-slider-banner .bx-pager-link.active { background: #6e5167; }

/* QUOTE TEXT */
.b-quote-text { position: relative; margin: 0; padding: 0; }
.b-quote-text:before { position: absolute; top: 0; left: -50px; content: '“'; color: red; font: bold 72px/72px "PT Sans", Helvetica, Arial, sans-serif; color: #d9d9d9; }

/* QUOTE */
