@charset "utf-8";

@import "compass";

@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic|PT+Serif+Caption|PT+Serif:700&subset=latin,cyrillic);

/* VARS */

$default-space: 20px;
$default-column: 65px;
$mtop-step: 5;
$inline-step: 5;
// $footer-height: 113px;
$footer-height: 140px;
$width: 1000px;

/* GRID */

.row {
  display: block;
  position: relative;

  &:after {
    content: "";
    display: table;
    clear: both;
  }

  &.four-in-row {
    & > .col:nth-of-type(4n+1) {
      margin-left: 0;
      clear: both;
    }
  }
}

.col {
  display: block;
  float: left;
  @include box-sizing(border-box);
  margin-left: $default-space;

  &:first-of-type {
    margin-left: 0;
  }
}

@for $i from 1 through 11 {
  .col-#{$i} {
    width: $i * $default-column + ($i - 1) * $default-space;
  }
}

@for $i from 1 through 11 {
  .prefix-#{$i} {
    margin-left: $i * $default-column + ($i) * $default-space !important;
  }
}

.col-p {
  @extend .col;
  padding-left: $default-space * 0.5;
  padding-right: $default-space * 0.5;
  margin-left: 0;

  // &:first-of-type {
  //   padding-left: 0;
  // }

  // &:last-of-type {
  //   padding-right: 0;
  // }
}

.col-p-1-4 {
  width: 100% / 4 * 1;
}

.col-p-1-3 {
  width: 100% / 3 * 1;
}

.col-p-2-4,
.col-p-1-2 {
  width: 100% / 2 * 1;
}

.col-p-2-3 {
  width: 100% / 3 * 2;
}

.col-p-3-4 {
  width: 100% / 4 * 3;
}

/* CLEARFIX */

.clear {
  clear: both;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* MODS */

.rel {
  position: relative !important;
}

.abs {
  position: absolute !important;
}

.inline-block {
  display: inline-block !important;
}

.block {
  display: block !important;
}

.tleft {
  text-align: left !important;
}

.tcenter {
  text-align: center !important;
}

.tright {
  text-align: right !important;
}

.uppercase {
  text-transform: uppercase !important;
}

.hide {
  display: none !important;
}

.transparent {
  opacity: 0 !important;
}

@for $i from 1 through 10 {
  .mtop-#{$i * $mtop-step} {
    margin-top: $i * $mtop-step * 1px !important;
  }
}

@for $i from 6 through 10 {
  .mtop-#{$i * $mtop-step * 2} {
    margin-top: $i * $mtop-step * 2 * 1px !important;
  }
}

.pleft-20 {
  padding-left: 20px !important;
}

.pright-20 {
  padding-right: 20px !important;
}

.border-box {
  @include box-sizing(border-box !important);
}

.margin-fix {
  & > * {
    &:first-child {
      margin-top: 0 !important;
    }

    &:last-child {
      margin-bottom: 0 !important;
    }
  }
}


/* INLINE COLUMNS */

ul {
  &.inline {
    padding: 0;
    margin: 0;

    & > li {
      display: inline-block;
      vertical-align: middle;
      list-style: none;

      &:first-of-type {
        margin-left: 0 !important;
      }
    }

    &.top {
      vertical-align: top;
    }

    @for $i from 1 through 10 {
      &.m-#{$i * $inline-step} {
        & > li {
          margin-left: $i * $mtop-step * 1px;
        }
      }
    }
  }
}

/* CONTAINER */

.container {
  width: $width;
  margin: 0 auto;
}

.content {
  margin: 50px 0 70px;

  &.no-margins {
    margin: 0;
  }

  &.no-bottom-margin {
    margin-bottom: 0;
  }
}

/* STICKY FOOTER */

.content-wrapper {
  @include box-sizing(border-box);
  min-height: 100%;
  min-width: 1020px;
  padding-bottom: $footer-height;
  overflow: hidden; /* hack */

  & + .footer.b-footer {
    margin-top: -$footer-height;
  }
}



