@charset "utf-8";

@import "compass";

$violet: #6e5167;
$gray: #999999;
$sans-font: 'PT Sans', Helvetica, Arial, sans-serif;
$serif-font: 'PT Serif Caption' Times, 'Times New Roman', serif;
$serif-bold-font: 'PT Serif', Times, 'Times New Roman', serif;

/* MENU BLOCK */

.kit.center{
  margin: 0 auto;
}

.b-menu {

  &.b-menu-lang {
    text-transform: uppercase;
    font-size: 11px;
    line-height: 24px;

    a {
      color: $violet;
      border-bottom: 1px solid rgba($gray, 0.6);

      &:hover {
        border-bottom: 1px solid transparent;
      }

      &.active {
        color: $gray;
        border-bottom: 1px solid transparent;
        cursor: default;
      }
    }
  } 

  &.b-menu-top {
    text-transform: uppercase;
    font-size: 14px;

    a {
      color: $violet;
      border-bottom: 1px solid transparent;
      display: inline-block;
      padding-bottom: 20px; 

      &:hover {
        border-bottom: 1px solid $violet;
      }

      &.active {
        border-bottom: 1px solid $violet;
      }
    }
  }

  &.b-menu-bottom {
    font-size: 14px;

    a {
      color: $gray;
      border-bottom: 1px solid rgba($gray, 0.6);

      &:hover {
        border-bottom: 1px solid transparent;
      }
    }
  }
}

 /* LOGO BLOCK */


.b-logo {
  
  &.b-logo-top {
    a {
      display: inline-block;
      text-align: center;
      border-bottom: none;
    }
  }
}

 /* PHONES BLOCK */


.b-phones {
  
  &.b-phones-top {
    font-size: 13px;
    line-height: 24px;

    .gray {
      color: $gray;
    }
  }
}

 /* HEADER BLOCK */

.b-header {
  margin-top: 30px;
  position: relative; // for hr
  hr{
    position: absolute;
    bottom:0;
    z-index: -1;
    display: block; 
    height: 1px;
    border: 0; 
    border-bottom: 1px solid rgba($gray, 0.4); 
    padding: 0;
    margin:0; 
    width: 100%;
  }
}

.b-footer-copyright{
  font-size: 14px;

  & > p {
    margin: 0;
    // margin-top: 10px;

    &:first-of-type {
      margin-top: 0;
    }
  }
}

.b-footer {
    
  .row {
    color: $gray;
    padding: 40px 0;
    border-top: 1px solid rgba($gray, 0.4);
  }

  &.no-border {
    .row{
      border-top: none;
    }
  }

}

.subheading {
  font: 22px/40px $serif-font;
  &.line-height-30 {
    line-height: 30px;
  }
}

h1 + .subheading {
  margin-bottom: 52px;
}

.b-about-text {
 p {
    margin: 30px 0;
    overflow: hidden;
  }
}

.b-roundimg-cell, .b-roundimg-cell {
  

  &.b-roundimg-cell-small {
    
    margin-top: 50px;

    h3 {
      margin: 45px 0 35px;
    }

    .b-roundimg-cell-image {

      a{
        display: table-row-group;
      }

      img{
        width: 150px;
        height: 150px;
        border-radius: 75px;
      }
    }
  }


  &.b-roundimg-cell-big {

    .b-roundimg-cell-image {

      display: block;
      float: left;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;   // col3 + prefix1
      box-sizing: border-box;
      margin-left: 85px;
      width: 235px;


      display: inline-block;
      vertical-align: top;

      img {
        width: 235px;
        height: 235px;
        border-radius: 235*0.5px;
      }

      &.no-prefix{
        margin-left: 0;
      }
    }

    .b-roundimg-cell-caption {

      h3 {
        margin-top: 0;
      }

      display: block;
      float: left;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;   // col7
      box-sizing: border-box;
      margin-left: 20px;
      width: 575px;
      padding-left: 20px;

      vertical-align: top;
      display: inline-block;
    }
  }
}

.team-list {
  margin-top: -50px;
  &.list-main {
    margin-top: -40px;
  }
}

.b-roundimage-container{
  list-style: none;
  padding: 0;
  margin: 0;

  li:not(:first-of-type) {
    margin-top: 70px;
  }
}

.not-found {
  margin-top:100px;
  color: $violet;

  font: bold 200px/200px $serif-bold-font;
  position: relative;
  text-align: center;
  span {
    top:32px;
    width: 320px;
    display: inline-block; 
    text-align: right;
    font-family: $sans-font;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    &:first-of-type{
      left: -5px;
      text-align: right;
    }
    &:last-of-type {
      margin-left:10px;
      text-align: left;
    }
  }

}

.black {
  color: black; 
}

.b-section {
  h1{
    margin-top: 0;
  }

  &.white-text{
    color: white;
  }

  &.small {
    padding:50px 0 ;
  }

  &.big {
    padding: 70px 0px;
  }

  &.b-section-bgc {
    &.gray {
      background-color: #f5f3f0;
    }
    &.violet {
      background-color: #6e5167;
    }
  }

  &.b-section-imaged {
    background-size: cover !important;
    background-repeat: no-repeat !important;
  }
}






