@charset "utf-8";

@import "compass";

$violet: #6e5167;
$gray: #999999;

$sans-font: 'PT Sans', Helvetica, Arial, sans-serif;
$serif-font: 'PT Serif Caption' Times, 'Times New Roman', serif;
$serif-bold-font: 'PT Serif', Times, 'Times New Roman', serif;

/* PDF LINK */

.b-pdf-link {
  display: inline-block;
  color: #d1d1d1;
  font-weight: bold;
  background: url('../images/pdf-icon.png') no-repeat 0 0;
  padding-left: 40px + 20px;
  min-height: 48px;
  line-height: 24px;

  & > a {
    font-weight: normal;
  }
}

/* ARROW LINK */

.b-arrow-link {
  display: inline-block;

  &.b-arrow-link-violet {
    color: $violet;

    & > a {
      color: $violet;
    }
  }

  &.b-arrow-link-light-violet {
    color: #c0b0bc;

    & > a {
      color: #c0b0bc;
      border-color: rgba(#c0b0bc, 0.2);

      &:hover {
        border-color: transparent;
      }
    }
  }
}

/* DATE */

.b-date {
  font: bold 24px/30px $serif-bold-font;
  color: #d4d4d4
}

/* EVENT LIST */

.b-event-list {
  padding: 0;
  margin: 0;
  list-style: none;

  & > li:not(:first-of-type) {
    margin-top: 30px;
  }

  & > li:not(:last-of-type) {
    .event {
      padding-bottom: 30px;
      border-bottom: 1px solid #d4d4d4;
    }
  }
}

/* WIDGET */

.b-widget {
  &.b-widget-facebook {
    @include box-sizing(border-box);
    padding: 40px 40px 50px;
    background: #fff;
    border: 3px solid #e7e7e7;
    text-align: center;
  }
}

/* SOCIAL ICONS */

.b-social-icons {
  margin: 0;
  padding: 0;
  list-style: none;

  & > li {
    width: 30px;
    height: 30px;

    & > a {
      display: block;
      border: 0;
      width: 30px;
      height: 30px;
      background: url('../images/social-icons.svg') no-repeat 0 0;

      &.facebook {
        background-position: 0 0;
      }

      &.linkedin {
        background-position: -31px 0;
      }

      &:hover {
        opacity: 0.5;
      }
    }
  }
}

/* SOCIAL BUTTONS */

.b-social-button {
  display: inline-block;
  vertical-align: middle;
  width: auto;
  max-width: 90px;
  height: 22px;
  margin: 10px 0;

  &:first-of-type {
    margin-right: 10px;
  }
}

/* CONTACTS SIGNBOARD */

.b-contacts-signboard {
  @include box-sizing(border-box);
  padding: 40px 65px 50px;
  background: $violet;
  color: #fff;

  & > * {
    margin: 30px 0;
    
    &:first-child {
      margin-top: 0;
    }
  }

  a {
    color: #fff;
    border-color: rgba(#fff, 0.5);

    &:hover {
      border-color: transparent;
    }
  }
}

/* MAP */

.b-map {
  position: relative;

  & > .container {
    display: table;
  }

  .b-contacts-signboard-w {
    display: table-cell;
    vertical-align: bottom;
    padding-bottom: 120px;
  }

  .b-contacts-signboard {
    position: relative;
    z-index: 5;
  }

  .map {
    position: absolute;
    bottom: 0;
    width: 100%;

    img {
      max-width: none;
    }
  }

  &.b-map-height-540 {
    min-height: 540px;

    & > .container {
      min-height: 540px;
    }

    .map {
      height: 540px;
    }
  }
}

/* TAB SWITCHER */

.b-tab-switcher {
  @include box-sizing(bordeer-box);
  padding: 40px;
  margin: 0;
  list-style: none;
  font: 18px/28px $serif-font;

  & > li {
    margin-top: 25px;
    padding-left: 35px;

    & > a {
      display: inline-block;
      border-bottom: transparent;
      text-indent: -35px;
    }

    &:first-of-type {
      margin-top: 0;
    }

    &.active {
      color: #fff;
    }
  }

  &.b-tab-switcher-violet {
    background: $violet;
    color: #c0b0bc;

    & > li {
      & > a {
        color: inherit;

        &:hover {
          color: #fff;
        }
      }
    }
  }
}

/* TABS */

.b-tabs {
  overflow: auto;

  .tab-pane {
    display: none;

    &.active {
      display: block;
    }
  }
}

/* SLIDER */

.bx-wrapper {
  position: relative;
  margin: 0;
  padding: 0;
}

.b-slider-body {
  margin: 0;
  padding: 0;
  list-style: none;
}

.b-slider {


  &.b-slider-banner {
    .bx-pager {
      margin: 60px 0 0 340px;
    }

    .bx-pager-item {
      display: inline-block;
      width: 16px;
      height: 16px;
      margin-left: 20px;

      &:first-of-type {
        margin-left: 0;
      }
    }

    .bx-pager-link {
      display: block;
      width: 16px;
      height: 16px;
      background: #ebebeb;
      text-indent: -9999px;
      @include border-radius(8px);
      border: 0;

      &:hover,
      &.active {
        background: $violet;
      }
    }
  }
}

/* QUOTE TEXT */

.b-quote-text {
  position: relative;
  margin: 0;
  padding: 0;

  &:before {
    position: absolute;
    top: 0;
    left: -50px;
    content: '“';
    color: red;
    font: bold 72px/72px $sans-font;
    color: #d9d9d9;
  }
}

/* QUOTE */

.b-quote {

}
