@charset "utf-8";

@import "compass";

$violet: #6e5167;
$sans-font: 'PT Sans', Helvetica, Arial, sans-serif;
$serif-font: 'PT Serif Caption' Times, 'Times New Roman', serif;
$serif-bold-font: 'PT Serif', Times, 'Times New Roman', serif;

html,
body {
  height: 100%;
}

body {
  font: 16px/30px $sans-font;
  min-width: 1280px;
  color: black;
  background: #fff;
}

a {
  // display: inline-block;
  text-decoration: none;
  color: $violet;
  border-bottom: 1px solid rgba($violet, 0.2);

  &:hover {
    cursor: pointer;
    border-color: transparent;
  }
}

img {
  display: block;
  max-width: 100%;
}

strong,
b {
 
}

p {

}

ul {

}

ol {

}

ol, ul {
  padding-left: 1em;
}

h1 {
  font: bold 52px/60px $serif-bold-font;
  margin-bottom: 52px;
}

h2 {
  font: bold 36px/1.2 $serif-bold-font;
  margin-bottom: 36px;
  
}

h3 {
  font: 22px/1.2 $serif-font;
  margin-bottom: 22px;

}

h4 {

}

h5 {

}

h6 {

}



@import "n-blocks.scss";
@import "s-blocks.scss";

